{{>head_index}}
<body>
    {{>nav_index_games}}
    <!-- images -->
<section>
    {{>carousel}}
    <div class="contentOfGames">
        <h4>Limited time Sales</h4>
        <p>Survive to escape the horrors of <br> Callisto. For a limited time, save 20%<br>
            when
            you purchase The Callisto Protocol.</p>
        <h5>Starts at $50000</h5>
        <button id="button-1">Pre-Perchase Now</button> <button id="button-2">Add to Wishlist</button>
    </div>
    <!-- images-2 -->
    {{>image2_slider}}
</section>
<section id="games_list">
    {{>swiper}}
</section>
</body>
</html>