<main>
    {{#each carousel}}
        {{#each this.pre_img}}
            <img src="{{this.links}}" class="slider" alt="images">
        {{/each}}
    {{/each}}
</main>
<script src="../js/carousel.js"></script>

